body {
    background-image: url('../img/fondo.jpg');
    background-size: cover; 
    background-position: center top; 
    position: relative;
  }
  
  body::before {
    background-repeat: repeat-y;
    content: "";
    height: 100vh;
    /* position: fixed; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.007); 
    z-index: -1; 
  }
  

  h1, label{
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    border-radius: 15%;
    margin-top: 5%;
  }

  nav {
    background:#D4F974;
    text-align: center;
    padding: 10px 0;
  }

#buscarProducto{
    width: 100%;
}

#categoria{
    margin-top: 15px;
}

.producto {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #D4F974;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
}

.datosProducto{
    display: flex;
    flex-direction: row;
}

.datosProducto > img{
    margin-right: 10px;
}
#botonRegresar {
    background-color: rgba(52, 219, 66, 0.993); 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s;
   justify-content: center;
    margin-top: 10%;
}
  
  #botonRegresar:hover {
    background-color:rgba(52, 219, 141, 0.623); 
  }

.navbar-brand {
    animation: tracking-in-contract 0.4s linear both;
  }

  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 0.6em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
}
  