body {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top; 
    position: relative;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1); 
    z-index: -1; 
  }
  
nav {
    background: #D4F974;
    text-align: center;
    padding: 10px 0;
}

#imgFile {
    display: block;
    height: 50px;
    width: 50px;
}

.contenedorCategoria{
    display: flex;
    gap: 10px;
}
#botonRegresar {
    background-color: rgba(52, 219, 141, 0.623); 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s;
    margin-top: 134px;
  }
  
  #botonRegresar:hover {
    background-color: rgba(52, 219, 141, 0.623); 
  }