body {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top; 
    position: relative;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1); 
    z-index: -1; 
  }
  

#container {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; 
}

nav {
    background: #D4F974;
    text-align: center;
    padding: 10px 0;
}
nav{
    background:#D4F974;
}

.producto {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 10px 0;
}

.principal{
    display: flex;
    width: 95%;
    max-width: auto;
}

.imagenProducto{
    margin: 0 15px;
}

.checkboxCarrito{
    margin-right: 15px;
}

#gastos{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #93b149;
}

#total, #carrito{
    display: flex;
    align-items: center;
    gap: 15px;
}

.categoria{
    background: #D4F974;
}