nav{
    background:#D4F974
}

.lista {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #D4F974;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
}